.about__mensagem__links__link {
  align-items: center;
  background-color: var(--cor-terciaria);
  border-radius: 15px;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0 0.2rem 0 0.2rem;
  width: 40px;
}

.about__mensagem__links__link:hover {
  background-color: var(--cor-secundaria);
}
