.conteudo-about__redes__link {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-left: 3.1rem;
}

@media screen and (max-width: 1100px) {
  .conteudo-about__redes__link {
    margin-right: 0.8rem;
  }
}

@media screen and (max-width: 540px) {
  .conteudo-about__redes__link {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
}
