.cabecalho__menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 4em;
}

@media screen and (max-width: 1110px) {
  .cabecalho__menu {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 800px) {
  .cabecalho__menu {
    margin: 0 1rem;
  }
}
