.cabecalho__botao-login {
  background-color: var(--cor-terciaria);
  border: none;
  color: var(--cor-primaria);
  cursor: pointer;
  display: block;
  font-size: 0.84rem;
  font-weight: var(--fonte-weight);
  padding: 0.16rem 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.cabecalho__botao-login:hover {
  background-color: var(--cor-secundaria);
  transform: scale(1.1);
}
