.lista-menu {
  background-color: var(--cor-primaria);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-left: -1rem;
  padding: 0.5rem 1.1rem;
  position: absolute;
  top: 95%;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .lista-menu {
    margin-left: -2rem;
    width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .lista-menu {
    margin-left: -1rem;
    width: 28vw;
  }
}
