.menu-hamburguer {
  background-image: url(/assets/img/Menu.svg);
  cursor: pointer;
  display: none;
  filter: brightness(0%);
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 900px) {
  .menu-hamburguer {
    display: block;
  }
}
