.botao-ativo-cadastro {
  background-color: var(--cor-primaria) !important;
  box-shadow: -5px -11px 10px rgba(0, 0, 0, 0.1);
  color: var(--cor-terciaria) !important;
  margin-bottom: -1px;
  padding-top: 0.7rem;
  z-index: 1;
}
