.cadastro-p {
  font-size: 0.71rem;
}

@media screen and (min-width: 2000px) {
  .cadastro-p {
    font-size: 0.84rem;
  }
}

@media screen and (max-width: 530px) {
  .cadastro-p {
    font-size: 0.64rem;
  }
}

@media screen and (max-width: 425px) {
  .cadastro-p {
    font-size: 0.57rem;
  }
}

@media screen and (max-width: 370px) {
  .cadastro-p {
    font-size: 0.47rem;
  }
}
