.cadastro__caixa__check__p {
  font-size: 0.75rem;
  cursor: pointer;
}

@media screen and (min-width: 2000px) {
  .cadastro__caixa__check__p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 530px) {
  .cadastro__caixa__check__p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .cadastro__caixa__check__p {
    font-size: 0.7rem;
  }
}
