.cadastro__caixa {
  align-items: center;
  background-color: var(--cor-primaria);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1.5rem 0;
  width: 26rem;
}

@media screen and (min-width: 2000px) {
  .cadastro__caixa {
    width: 30rem;
  }
}

@media screen and (max-width: 530px) {
  .cadastro__caixa {
    width: 24rem;
  }
}

@media screen and (max-width: 425px) {
  .cadastro__caixa {
    width: 22rem;
  }
}

@media screen and (max-width: 370px) {
  .cadastro__caixa {
    width: 18.5rem;
  }
}
