.conteudo-about {
  align-items: center;
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin: 1.3rem 19.45rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .conteudo-about {
    gap: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .conteudo-about {
    gap: 0;
    margin: 1.3rem 5rem;
  }
}

@media screen and (max-width: 430px) {
  .conteudo-about {
    margin: 1.3rem 2rem;
  }
}
