.conteudo-discover {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.3rem 19.45rem;
}

@media screen and (max-width: 1100px) {
  .conteudo-discover {
    gap: 0;
    margin: 1.3rem 5rem;
  }
}

@media screen and (max-width: 430px) {
  .conteudo-discover {
    margin: 1.3rem 2rem;
  }
}
