.rodape__conteudo {
  display: flex;
  gap: 8rem;
}

@media screen and (min-width: 2000px) {
  .rodape__conteudo {
    gap: 22rem;
  }
}

@media screen and (max-width: 1024px) {
  .rodape__conteudo {
    flex-direction: column;
    gap: 1.7rem;
    margin: 0 0 0.5rem 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .rodape__conteudo {
    flex-direction: column;
  }
}
