.conteudo-about__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo-about__titulo__titulo {
  font-size: 2rem;
}

.conteudo-about__titulo__subtitulo {
  font-weight: var(--fonte-weight);
  color: var(--cor-cinza-sobre);
  margin: -0.5rem 0 0.5rem 0;
}

.conteudo-about__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-about__redes__titulo {
  padding: 1.5rem 0 0.3rem 0;
  margin-left: 0.06rem;
}

.conteudo-about__redes__link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 3.1rem;
}

.conteudo-about__redes__link__links {
  border: 2px solid var(--cor-terciaria);
  border-radius: 5px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--cor-terciaria);
  transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-about__redes__link__links:hover,
.conteudo-about__redes__link__links:focus-visible {
  border: 3px solid var(--cor-secundaria);
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  transform: scale(1.05);
}

.conteudo-about__redes__link__links__imagem {
  height: 1.9rem;
  padding-right: 0.5rem;
}

.logo-linkedin-about {
  height: 1.9rem;
  margin: 0;
  padding-right: 0.3rem;
  margin-bottom: 0.4rem;
}

.logo-instagram {
  margin-right: -0.2rem;
}

@media screen and (max-width: 1100px) {
  .conteudo-about__redes__link {
    margin-right: 0.8rem;
  }

  .conteudo-about__imagem {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .conteudo-about__redes__link {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
}
