.about {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-primaria);
}

.about__mensagem {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 28rem;
  max-width: 60rem;
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.about__mensagem__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.about__mensagem__titulo {
  color: var(--cor-cinza-sobre);
}

.about__mensagem__titulo__subtitulo {
  font-weight: normal;
  color: var(--cor-cinza);
  margin-top: -0.5rem;
}

.about__mensagem__texto {
  color: var(--cor-cinza-sobre);
}

.about__mensagem__links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.about__mensagem__links__link {
  background-color: var(--cor-terciaria);
  border-radius: 15px;
  padding: 0 0.2rem 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.about__mensagem__links__link:hover {
  background-color: var(--cor-secundaria);
}

.logo-github,
.logo-linkedin,
.logo-instagram {
  height: 2rem;
}

.logo-instagram {
  padding-right: 4px;
}

.logo-linkedin {
  padding-right: 0.2rem;
}

.about__imagem {
  height: 28rem;
  border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 2000px) {
  .about__mensagem__conteudo {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1440px) {
  .about__mensagem {
    height: 32rem;
    width: 55rem;
  }

  .about__imagem {
    height: 32rem;
  }
}

@media screen and (max-width: 920px) {
  .about__mensagem {
    height: 26rem;
    width: 40rem;
  }

  .about__mensagem__conteudo {
    padding-right: 1rem;
  }

  .about__imagem {
    display: none;
  }

  .about__mensagem__links {
    padding-left: 14.5rem;
  }
}

@media screen and (max-width: 700px) {
  .about__mensagem {
    height: 30rem;
    width: 30rem;
  }

  .about__mensagem__links {
    padding-left: 9.7rem;
  }
}

@media screen and (max-width: 550px) {
  .about__mensagem {
    height: 29rem;
    width: 23rem;
  }

  .about__mensagem__conteudo {
    font-size: 0.9rem;
  }

  .about__mensagem__links {
    padding-left: 5.2rem;
  }
}

@media screen and (max-width: 425px) {
  .about__mensagem {
    height: 34rem;
    width: 20rem;
  }

  .about__mensagem__links {
    padding-left: 4.2rem;
  }
}

@media screen and (max-width: 370px) {
  .about__mensagem {
    width: 16rem;
  }

  .about__mensagem__conteudo {
    font-size: 0.8rem;
  }

  .about__mensagem__links {
    padding-left: 2.2rem;
  }
}
