.rodape {
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  color: var(--cor-terciaria);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.rodape__conteudo {
  margin: 0 4rem;
  display: flex;
  gap: 8rem;
}

.rodape__conteudo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.25rem;
}

.logo_rodape {
  gap: 0;
}

.rodape__conteudo__links__imagem {
  height: 4.5rem;
}

.rodape__conteudo__links__slogan {
  font-weight: var(--fonte-weight);
}

.navegacao_rodape {
  margin-top: 1.5rem;
}

.rodape__conteudo__links__lista {
  list-style-type: none;
}

.rodape__conteudo__links__link {
  text-decoration: none;
  color: var(--cor-terciaria);
  transition: all 0.3s ease;
  cursor: pointer;
}

.rodape__conteudo__links__link:focus-visible {
  outline: 2px solid var(--cor-secundaria);
  outline-offset: 1px;
}

.rodape__conteudo__links__link:hover {
  color: var(--cor-secundaria);
  font-weight: var(--fonte-weight);
}

.rodape__conteudo__links__marca {
  font-size: 0.75em;
  color: var(--cor-cinza);
  font-weight: var(--fonte-weight);
}

.copyII {
  display: none;
}

.contato {
  font-weight: var(--fonte-weight);
}

@media screen and (min-width: 2000px) {
  .rodape {
    font-size: 1.2rem;
  }

  .rodape__conteudo {
    gap: 22rem;
  }
}

@media screen and (max-width: 1024px) {
  .rodape__conteudo {
    margin: 0 0 0.5rem 0;
    flex-direction: column;
    gap: 1.7rem;
    padding-bottom: 0;
  }

  .copyI {
    display: none;
  }

  .copyII {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .rodape__conteudo {
    flex-direction: column;
  }
}