.cabecalho {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--cor-terciaria);
  height: 3.75rem;
}

.cabecalho__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4em;
  position: relative;
}

.cabecalho__menu__links {
  display: flex;
  gap: 1.6rem;
}

.menu-hamburguer-botao {
  border: none;
  background: none;
  display: none;
}

.menu-hamburguer {
  background-image: url(/assets/img/Menu.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
  filter: brightness(0%);
}

.lista-menu {
  display: none;
  position: absolute;
  top: 95%;
  width: 40vw;
  list-style: none;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-left: -1rem;
}

.lista-menu__item {
  padding: 0.5em;
  background-color: var(--cor-primaria);
  padding-left: 1rem;
}

.menu-hamburguer__ativo {
  font-weight: 600;
  color: var(--cor-secundaria) !important;
}

.lista-menu__link {
  text-decoration: none;
  color: var(--cor-terciaria);
  cursor: pointer;
}

.lista-menu__link:hover {
  color: var(--cor-secundaria);
}

.logo {
  height: 3.75rem;
  cursor: pointer;
  padding-right: 6rem;
}

.principal {
  display: flex;
  gap: 2.5rem;
}

.cabecalho__menu__links__link {
  color: var(--cor-terciaria);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.84rem;
  align-content: center;
  border-bottom: 3px solid transparent;
}

.cabecalho__menu__links__link:hover {
  color: var(--cor-secundaria);
}

.cabecalho__menu__links__link:focus-visible {
  outline: 2px solid var(--cor-secundaria);
  outline-offset: 1px;
}

.navegacao_ativa {
  border-color: var(--cor-secundaria);
  padding: 0 0.3rem;
  cursor: pointer;
}

.navegacao_ativa:hover {
  color: var(--cor-terciaria);
}

.botao_login {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  padding: 0.1rem 1.5rem;
  transition: 0.3s ease-in-out;
  border: none;
}

.botao_login:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  transform: scale(1.05);
}

@media screen and (min-width: 2000px) {
  .cabecalho {
    height: 4.75rem;
  }

  .logo {
    margin-top: -0.3rem;
    height: 5rem;
  }

  .cabecalho__menu__links__link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1110px) {
  .cabecalho__menu {
    margin: 0 2rem;
  }

  .cabecalho__menu__links {
    gap: 15px;
  }

  .principal {
    gap: 1.3rem;
  }

  .logo {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .cabecalho__menu {
    margin: 0 1rem;
  }

  .cabecalho__menu__links {
    align-items: center;
  }

  .menu-hamburguer-botao,
  .menu-hamburguer {
    display: block;
  }

  .logo {
    margin-left: -10px;
  }

  .principal {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .lista-menu {
    width: 20vw;
  }
}

@media screen and (max-width: 375px) {
  .secundario {
    display: none;
  }
}
