.conteudo {
  margin: 1.3rem 19.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

@media screen and (max-width: 430px) {
  .conteudo {
    margin: 1.3rem 2rem;
  }
}
