.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.3rem 19.45rem;
}

.conteudo-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem 19.45rem;
  text-align: center;
  gap: 6rem;
}

.conteudo-descubra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.3rem 19.45rem;
}

@media screen and (max-width: 1280px) {
  .conteudo-about {
    gap: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .conteudo,
  .conteudo-about,
  .conteudo-descubra {
    margin: 1.3rem 5rem;
    gap: 0;
  }
}

@media screen and (max-width: 430px) {
  .conteudo,
  .conteudo-about,
  .conteudo-descubra {
    margin: 1.3rem 2rem;
  }
}
