.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.3rem 19.45rem;
}

@media screen and (max-width: 430px) {
  .conteudo {
    margin: 1.3rem 2rem;
  }
}
