.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cadastro__logo {
  width: 11.25rem;
  opacity: 0.9;
  margin-left: -15px;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fonte-weight);
}

.botao-cadastro-login {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  text-decoration: none;
  padding: 0.6rem;
  width: 11.81rem;
  cursor: pointer;
  text-align: center;
}

.botao-desativado-cadastro {
  margin-bottom: -7px;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
}

.botao-ativo-cadastro {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  padding-top: 0.7rem;
  box-shadow: -5px -11px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.cadastro__caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 26rem;
  padding: 1.5rem 0;
  background-color: var(--cor-primaria);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.cadastro__caixa__conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--cor-borda-login-cadastro);
  width: 23rem;
}

.cadastro__caixa__png {
  height: 1.5rem;
  padding: 0.61rem 0.4rem;
  border-right: 1px solid var(--cor-borda-login-cadastro);
}

.cadastro__caixa__conteudo__input {
  background-color: #f2f2f2;
  font-size: 0.9rem;
  padding: 0.7rem 0.4rem;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  outline: none;
  font-family: var(--fonte-principal);
  width: 20.15rem;
}

.cadastro__caixa__conteudo__input::placeholder {
  font-weight: var(--fonte-weight);
  text-align: start;
  font-size: 13px;
  opacity: 0.6;
}

.olho-fechado {
  border-right: none;
  border-left: 1px solid var(--cor-borda-login-cadastro);
  cursor: pointer;
}

.cadastro__caixa__check {
  display: flex;
  margin-left: -13.2rem;
  gap: 3px;
}

.cadastro__caixa__check__input {
  cursor: pointer;
  accent-color: var(--cor-secundaria);
}

.cadastro__caixa__check__input:focus-visible {
  outline: 1px solid var(--cor-secundaria);
  outline-offset: 1px;
}

.cadastro__caixa__check__p {
  font-size: 0.75rem;
}

.cadastro-p {
  font-size: 0.71rem;
}

.cadastro__caixa__divicao {
  font-weight: var(--fonte-weight);
  color: var(--cor-cinza);
  text-align: center;
}

.social {
  border: none;
  gap: 1.5rem;
}

.cadastro__caixa__conteudo__alternativas {
  display: flex;
  gap: 4.1rem;
}

.cadastro__caixa__conteudo__alternativas__link {
  font-size: 14px;
  font-weight: var(--fonte-weight);
  color: var(--cor-cinza);
}

.cadastro__caixa__conteudo__alternativas__link__links {
  text-decoration: none;
  color: var(--cor-secundaria);
  font-weight: var(--fonte-weight);
  cursor: pointer;
}

.cadastro__caixa__check {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cadastro__caixa__check__div {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.cadastro__caixa__check__input {
  cursor: pointer;
  accent-color: var(--cor-secundaria);
  margin-left: -0.3rem;
}

@media screen and (min-width: 2000px) {
  .botao-cadastro-login {
    width: 13.81rem;
  }

  .cadastro__caixa {
    width: 30rem;
  }

  .cadastro__caixa__conteudo {
    width: 27rem;
  }

  .cadastro__caixa__conteudo__input {
    width: 24rem;
  }

  .cadastro__caixa__check__p {
    font-size: 1.1rem;
  }

  .cadastro-p {
    font-size: 0.84rem;
  }

  .cadastro__caixa__divicao {
    font-size: 1.186rem;
  }

  .cadastro__caixa__conteudo__alternativas__link {
    font-size: 1.2rem;
  }

  .cadastro__caixa__conteudo__alternativas__link__links {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 430px) {
  .botao-cadastro-login {
    width: 10.82rem;
  }

  .cadastro__caixa {
    width: 24rem;
  }

  .cadastro__caixa__conteudo {
    width: 21rem;
  }

  .cadastro__caixa__check__p {
    font-size: 0.8rem;
  }

  .cadastro-p {
    font-size: 0.64rem;
  }

  .cadastro__caixa__divicao {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 390px) {
  .botao-cadastro-login {
    width: 9.81rem;
  }

  .cadastro__caixa {
    width: 22rem;
  }

  .cadastro__caixa__conteudo {
    width: 19rem;
  }

  .input-menor {
    width: 14rem;
  }

  .cadastro__caixa__check__p {
    font-size: 0.7rem;
  }

  .cadastro-p {
    font-size: 0.58rem;
  }

  .cadastro__caixa__divicao {
    font-size: 0.86rem;
  }
}

@media screen and (max-width: 370px) {
  .botao-cadastro-login {
    width: 8.05rem;
  }

  .cadastro__caixa {
    width: 18.5rem;
  }

  .cadastro__caixa__conteudo {
    width: 16rem;
  }

  .input-menor {
    width: 10.5rem;
  }

  .cadastro-p {
    font-size: 0.48rem;
  }

  .cadastro__caixa__divicao {
    font-size: 0.7rem;
  }
}
