.conteudo__pesquisa {
  display: flex;
  align-items: center;
}

.conteudo__pesquisa:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.conteudo__pesquisa__barra {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-principal);
  font-size: 0.8rem;
  border: none;
  width: clamp(20rem, 50vw, 50rem);
  height: 1.6rem;
  padding-left: 0.5rem;
  outline: none;
}

.conteudo__pesquisa__barra::placeholder {
  color: var(--cor-primaria);
  font-weight: var(--fonte-weight);
}

.conteudo__pesquisa__lupa {
  background-color: var(--cor-primaria);
  height: 1.7rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo__pesquisa__lupa:focus-visible {
  outline: 2px solid var(--cor-secundaria);
  outline-offset: -1px;
}

.conteudo__pesquisa__lupa:hover {
  cursor: pointer;
}

@media screen and (min-width: 2000px) {
  .conteudo__pesquisa__barra {
    width: 100rem;
    height: 2rem;
    font-size: 1rem;
  }

  .conteudo__pesquisa__lupa {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (max-width: 385px) {
  .conteudo__pesquisa__barra {
    width: 19rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .conteudo__pesquisa__barra {
    width: 15.6rem;
    font-size: 0.6rem;
  }
}
