.conteudo-descubra__galeria__colunas__scroll {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 77.5rem;
  overflow-y: auto;
  padding-right: 1rem;
}

.conteudo-descubra__galeria__colunas__scroll::-webkit-scrollbar {
  background-color: var(--cor-fundo-scroll);
  width: 0.3rem;
}

.conteudo-descubra__galeria__colunas__scroll::-webkit-scrollbar-thumb {
  background: var(--cor-terciaria);
}

.conteudo-descubra__galeria__colunas__scroll::-webkit-scrollbar-thumb:hover {
  background: var(--cor-secundaria);
  cursor: pointer;
}

.conteudo-descubra__galeria__colunas__scroll:focus-visible {
  outline: 3px solid var(--cor-secundaria);
  outline-offset: 3px;
}

@media screen and (min-width: 2000px) {
  .conteudo-descubra__galeria__colunas__scroll {
    height: 87.5rem;
  }

  .conteudo-descubra__galeria__colunas__scroll::-webkit-scrollbar {
    width: 0.4rem;
  }

  .conteudo-descubra__galeria__colunas__fotos {
    height: 17rem;
    width: 19rem;
  }
}

@media screen and (max-width: 1440px) {
  .conteudo-descubra__galeria__colunas__scroll {
    height: 77.4rem;
  }
}
